html{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  overflow-wrap: break-word;
  overflow:scroll;
}

.disable-dbl-tap-zoom{
  touch-action: manipulation;
}

#autobutton{
  left: 1vw;
  position: relative;
  text-align: left;
  width: 5em;
  font-size: 1em;
  top: 1.5em;
  height: 1em;
  z-index: -1; /* not active*/
}

#header{
  font-size: 2em;
}
#stopwatch{
    font-size: 3em;
    left: 0vw;
}
#laptext{
    /* position: relative; */
    /* width: 100%; */
    height: 100%;
    font-size: 1em;
    overflow: scroll;
    /* max-width: 40vw; */
    /* min-width: 30vw; */
    width: 49vw;
}
#marktext{
    /* position: relative; */
    /* width: 100%; */
    height: 100%;
    font-size: 1em;
    overflow: scroll;
    /* max-width: 40vw; */
    /* min-width: 30vw; */
    width: 49vw;
}
#button{
    width: 100vw;
    height: 100%;
    left: 0vw;
}
#lap{
    width: 80%;
    max-width: 43vw;
}
#mark{
    width: 80%;
    max-width: 43vw;
}
#OnYourMarks{
background-color: yellow;
width: 100%;
}
#GetSet{
  background-color: yellow;
  width: 100%;
  }
#GunShot{
  background-color: yellow;
  width: 100%;
}
#version{
    font-size: 1em;
    color: blue;
    height: 2vh;
}
.delay {
  bottom: 0vh;
  right: 0vw;
  font-size: 2em;
}


#text{
    font-size: 3em;
}
#textM{
    font-size: 3em;
}
.start{
    background-color: green;
}
.stop{
    background-color: red;
}
.yellow{
    background-color: yellow;
}

.reset{
    background-color: blue;
}

.item0{
    height:0.1vh;
    background-image: url("favicon.ico");
    background-repeat: no-repeat;
}
.item1{
    height: 2vh;
}
.item2{
    height: 4vh;
}
.item3{
    height: 4vh;
}
.item4{
    width: 100%; 
    height: 24vh;
}
.item5{
    height: 3vh;
    /* width:100%; */
    width: 50vw;
}
.item5b{
    /* width:100%; */
    height: 3vh;
    width: 50vw;
    }
.item6{
    height: 13vh;
    }
.item6b{
     height: 13vh;
}

 .item7a{
   height:1vh;
 }
 .item7b{
  height:1vh;
}
.item7c{
  height:1vh;
}
  
#adjust{
  top: 10vh;
  position: relative;
}

  .slidecontainer {
    /* top: 10vh; */
    width: 70%;  
    position:relative;
    height: 15vh;
    font-size: 0.6em !important;
  }


  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 99%; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #007349; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


  #onoff{
    width: 100vw;
}


/* #fullcontainer{
} */


#fullcontainer:fullscreen {
  background-color: rgb(255, 255, 255);
}
/* Samsung Chrome */
#fullcontainer:-webkit-full-screen {
  background-color: rgb(255, 255, 255);
}
#fullcontainer:-moz-full-screen {
  background-color: rgb(255, 255, 255);
}

#container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* GRID  */
.item0 { grid-area: header; } 
.item1 { grid-area: counter; }
.item2 { grid-area: slider; }
.item3 { grid-area: button; }
.item4 { grid-area: main; }
.item5 { grid-area: button2; }
.item5b { grid-area: button2b; }
.item6 { grid-area: list; }
.item6b { grid-area: list2; }
.item7a { grid-area: footer1; }
.item7b { grid-area: footer2; }
.item7c { grid-area: footer3; }

.grid-container {
display: grid;
grid-template-areas:
  'header header header header'
  'slider slider slider slider'
  'counter counter counter counter'
  'button button button button'
  'main main main main'
  'button2 button2 button2b button2b'
  'list list list2 list2'
  'footer1 footer2 footer2 footer3';
padding: 0px;
}

.grid-container > div {
/* background-color: rgba(255, 255, 255, 0.8); */
text-align: center;
padding: 20px 0;
font-size: 1rem;
}

#initsound{
  width: 100vw;
  height: 100vh;
  background-color: rgb(205, 255, 216);
  position: absolute;
  font-size: 1.5em;
}
.hidden{
  display:none;
}

.lang{
  width: 40vw;
  max-width: 100px;
  height: 6vh;
}
#UK{
  background-image: url("UK.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#NL{
  background-image: url("NL.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#settings{
  width: 95%;
  height: 95%;
  left: 10%;
  position: relative;
}
#button_settings{

}
#setting_button{

}

#full_container{

}
/* @media screen  and (orientation: landscape) {
  .grid-container {
  display: grid;
  grid-template-areas:
  'header header header header'
  'slider slider button2 button2'
  'slider slider button2 button2'
  'counter counter list list'
  'main main button2b button2b '
  'main main list2 list2'
  'main main  list2 list2'
  'footer1 footer2 footer2 footer3';
  padding: 0px;
  height: 100vw;
  width: 100vh;
  }
} */
